@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .swal2.toast.swal2-icon-success {
        @apply bg-blue-400 !important
    }
}

:root {
    /* Background Color */
    --primary-color: #004caa;
    --secondary-color: #fc5185;
    --bg-light-blue: #3672bc;
    --bg-dark: #666;
    --bg-white: #fff;

    /* Text Style */
    --primary-font: "Sora", serif;
    --secondary-font: "Sora", sans-serif;
    --primary-text: #004caa;
    --secondary-text: #fc5185;
    --text-white: #fff;
    --text-black: #222;
    --text-gray: #666;
    --text-light: #ddd;

    --surface-color: #fff;
    --curve: 40;
    --bg-pink: #fc5185;
    --black-color: #222;
    --text-color: #666;
}


::-webkit-scrollbar {
    width: 0.375rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-light-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}



